.side-bar
  .side-bar__user-name
    .side-bar__box
      .side-bar__name
        masa
      .side-bar__icon
        = link_to "#" ,class: "side-bar__btn side-bar__btn--edit" do
          = icon('fas', 'edit')
        = link_to "#" ,class: "side-bar__btn side-bar__btn--cog" do
          = icon('fas', 'cog')

  .side-bar__group-list
    .side-bar__group
      .side-bar__groupname
        techcamp
      .side-bar__groupmessage
        まだメッセージがありません

    .side-bar__group
      .side-bar__groupname
        techcamp
      .side-bar__groupmessage
        まだメッセージがありません

    .side-bar__group
      .side-bar__groupname
        techcamp
      .side-bar__groupmessage
        まだメッセージがありません