* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  color: #ffffff;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box {
    width: 260px;
    height: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
  }
  &__name {
    color: #ffffff;
    font-size: 16px;
  }
  &__btn {
    color: #ffffff;
  }
  &__btn--edit {
    margin-right: 2.5px;
    text-decoration: none;
  }
  &__btn--cog {
    margin-left: 2.5px;
  }
  

  &__group-list {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 0 20px;
      color: #ffffff;
  }
  &__group {
    padding: 20px 0 40px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  &__groupname {
    font-size: 15px;
  }
  &__groupmessage {
    font-size: 11px;
    margin-top: 5px;
  }

}



.chat-main {
  background-color: #fafafa;
  width: calc(100vw - 300px);
  height: 100vh;
  &__group-info {
    background-color: #ffffff;
    width: calc(100vw - 300px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    border-bottom: solid 1px #eee;

  }
  &__left {
    color: #333333;
    font-size: 20px;
    margin-top: 35px;
  }
  &__menber {
    font-size: 12px;
    margin-top: 15px;
    color: #999999;
    display: flex;
  }
  &__menbername{
    }
  &__right {
    display: block;
    border: 1px solid #38AEF0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
  }
  &__btn {
    text-decoration: none;
    color: #38AEF0;
  }
  &__message-list {
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
  }
  &__message-form {
    background-color: #d2d2d2;
    width: calc(100vw - 300px);
    height: 90px;
  }
  &__message-list {
    padding: 35px 40px 0;
  }
  &__name {
    display: flex;
  }
  &__messagename {
    color: #333333;
    font-size: 16px;
  }
  &__day {
    color: #999999;
    font-size: 12px;
    padding-left: 12px;
  }
  &__comment {
    color: #434A54;
    font-size: 14px;
    height: 50px;
    width: 100%;
    border: none;
  }
  &__form {
    height: 90px;
    background-color: #dddddd;
    padding: 20px 50px 20px 40px;
  }
  &__style {
    display: flex;
    justify-content: space-between;
    
  }
  &__message {
    width: 100%;
    background-color: #fff;
    height: 50px;
    display: flex;
    position: relative;
  }
  &__comment {
    padding: 0 45px 0 15px;
  }
  &__input {
    display: none;
  }
  &__label {
    font-size: 25px;
    line-height: 50px;
    position: absolute;
    right: 10px;
  }
  &__submit-btn {
    background-color: #38aef0;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}